
.font-inter{
    font-family: "Inter", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.primary-color{
    color: #1dd100;
}
.primary-bg{
    background-color: #1dd100;
}

.bus-seats{
    background-color: #f7f8f8;
    color: #03071280;
    font-family: "Inter", sans-serif;
}

.updated-seat{
    background-color: #1dd100;
    color: white;
}

.ticket-details{
    display: flex ;
    justify-content: space-around;
    gap: 110px;
    margin-top: 16px;

}